
.form {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 0;
    max-width: none;
    min-width: none;

}
.searchText { 
    flex-grow: 1;
    padding: 0.8rem;
    font-size: medium;
    border: none;
    margin: 0;
    max-width: none;
}
.searchAction {
    flex-grow: 0;
    padding: 0.8rem;
    margin: 0;
    max-width: none;
}