.skeleton {
  --base-color: #c9c9c9;
  --shine-color: #fff;
  --animation-duration: 2s;
  animation: skeleton-animation var(--animation-duration) ease-in-out 0s infinite alternate;
  background-image: linear-gradient(90deg, var(--base-color) , var(--shine-color) 45%, var(--shine-color) 55%, var(--base-color) );
  background-size: 200%;
  background-position: left;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  display: block;
  }
  @keyframes skeleton-animation {
    0%{
      background-position: right;
    }
    100%{
        background-position: left;
    }

  }